/OperadoresAritimeticos/nbproject/private/
/OperadoresAritimeticos/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/SuperCalculadora/nbproject/private/
/SuperCalculadora/build/
/OperadorTernario/nbproject/private/
/ComparaçãoString/nbproject/private/
/OperadoresLogicos/nbproject/private/
/OperadoresLogicos/build/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/LeitorDePensamento/nbproject/private/
/LeitorDePensamento/build/
/Programamedia/nbproject/private/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/ProgramaMedia/dist/
/ProgramaIdade/nbproject/private/
/ProgramaIdade/build/
/ProgramaParImpar/nbproject/private/
/programaParImpar/nbproject/private/
/programaParImpar/build/
/EquacaoSegundoGrau/nbproject/private/
/EquacaoSegundoGrau/build/
/VotacaoSwing/nbproject/private/
/VotacaoSwing/build/
/ProgramaPernas/nbproject/private/
/ProgramaPernas/build/
/ProjetoTriangulo/nbproject/private/
/ProjetoTriangulo/build/
/Contador01/nbproject/private/
/Contador01/build/
/Contador02/nbproject/private/
/Contador02/build/
/ProjetoFatorial/nbproject/private/
/ProjetoFatorial/build/
/Repeticao01/nbproject/private/
/Repeticao01/build/
/Numeros/nbproject/private/
/Numeros/build/
/ExercicioRepita/nbproject/private/
/ExercicioRepita/build/
/RepeicaoFor/nbproject/private/
/RepeicaoFor/build/
/Ex013/nbproject/private/
/Ex013/build/
/Vetor01/nbproject/private/
/Vetor01/build/
/Vetor01/dist/
/Vetor02/nbproject/private/
/Vetor02/build/
/Vetor03/nbproject/private/
/Vetor03/build/
/Vetor04/nbproject/private/
/Vetor04/build/
/Vetor05/nbproject/private/
/Vetor05/build/
/ExVetor/nbproject/private/
/ExVetor/build/
/TesteFuncao01/nbproject/private/
/TesteFuncao01/build/
/TesteFuncao02/nbproject/private/
/TesteFuncao02/build/
/Funcao01/nbproject/private/
/Funcao01/build/
/Funcao02/nbproject/private/
/Funcao02/build/
/GetSetConst/nbproject/private/
/GetSetConst/build/
/Banco/nbproject/private/
/Banco/build/
/Projeto/nbproject/private/
/Projeto/build/